@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Jost", sans-serif;
}

nav {
    z-index: 10001 !important;
}

.gradientBg {
    background: linear-gradient(99deg, #F6A4E9, #AD63E8 100%);
}

.btnPrimary{
    @apply bg-purple-900  py-3 px-8  text-white rounded-full font-semibold hover:bg-secondary transition-all duration-300
}
