.box {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px black;
    width: 100%;
    min-width: 290px;
    min-height: 254px;
    max-height: 254px;
    height: 100%;
}

.box img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.overlay {
    height: 100%; /* Keep the full height of the box */
    width: 100%;
    background: linear-gradient(transparent, #100117 30%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: -100%; /* Start off-screen */
    display: flex;
    align-items: center;
   
    justify-content: space-evenly;
    flex-direction: column;
    padding-inline: 5%;
    padding-block: 20px; /* Add some padding on top and bottom */
    font-size: 14px;
    transition: bottom 0.5s ease; /* Animate the 'bottom' position */
    
    
    
}

.overlay h3 {
    font-weight: 500;
    width: 100%;
    margin-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(231, 174, 250);
    
}

.overlay p {
    color: rgb(231, 192, 255);
    font-family:sans-serif; /* Inherit color from .overlay */
}
.box:hover img {
    transform: scale(1.2);
}

.box:hover .overlay {
    bottom: 0; /* Bring the overlay up when hovering */
}

.overlay .tags{
    position: absolute;
    bottom: 15px;
    
}