.desktop {
    background-color: #c084fc;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: screen;
    height: 100%;
    
}

.desktop .frame-3319-wrapper {
    background-color: #c084fc;
    height: 500px;
    position:sticky;
    width: 250px;
    top: 150px;
    left: 20px;
}
.GamesCardContainer{
    position: relative;
    top: 15vh;
    left: 10vw;
    width: 50vw;
    height: 80vh;

}

