.slice {
    background-color: #32073fe6;
    border-radius: 0px 0px 30px 30px;
    height: 120px;
    width: 326px;
}

.slice .overlap-group {
    height: 131px;
    position: relative;
    top: -11px;
}

.slice .img {
    height: 120px;
    left: 0;
    position: absolute;
    top: 11px;
    width: 326px;
}

.slice .text-wrapper {
    color: #f5f5f5;
    font-family: "Irish Grover-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 33px;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
    width: 137px;
}

.slice .div {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 37px;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 43px;
    width: 305px;
}

.slice .rectangle {
    background-color: #ecc568;
    border: 1px solid;
    border-color: #737272;
    border-radius: 20px;
    height: 18px;
    left: 13px;
    position: absolute;
    top: 96px;
    width: 85px;
}

.slice .rectangle-2 {
    background-color: #eec767;
    border: 1px solid;
    border-color: #737272;
    border-radius: 20px;
    height: 18px;
    left: 126px;
    position: absolute;
    top: 96px;
    width: 143px;
}

.slice .pattern-recognition {
    color: #535151;
    font-family: "Inter-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    height: 11px;
    left: 130px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 98px;
    white-space: nowrap;
    width: 134px;
}

.slice .text-wrapper-2 {
    color: #535151;
    font-family: "Inter-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    height: 11px;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 98px;
    white-space: nowrap;
    width: 79px;
}

.slice .mobile-game-console {
    height: 40px;
    left: 251px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 40px;
}
